

.abt-me {
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body {
    
}
h1 {
    color: white;
    text-transform: uppercase;
    padding-top: 10%;  
}
p {
    color: #ffaa80;
    text-align: center;
    column-count: 2;
    column-gap: 3em

}
/*navigation*/
a {
    color: #ffaa80;
    text-decoration: none;
    border: 2px dashed #ffaa80;
}
ul {
    display: inline-flex;
    margin: 0;
    padding: 0px 10px;
    color: white;
    border: 2px 3px #ffaa80;
}
li { 
    display: flex;
    padding: 5px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* Large screens */
.navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
  }
  
  /* Medium screens */
  @media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }