body {
   background-color: #D0E4F5;
background-image: url("aerial-aerial-view-aeroplane-59519");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0 0;;
}
h1 {
    color: blue;
}
p {
    color: red;
}
