body {

background-color: lightgrey;
font-family: Arial, Helvetica, sans-serif;
/*BACKGROUND IMAGE WHERE DO I ADD THE PHOTO
background-image: ("coffee.JPG");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0 0;
background: grey;*/

}
.abt-me {
    align-content: center;
}
h1 {
    color: white;
    text-transform: uppercase;
    padding-top: 10%;  
}
p {
    color: #ffaa80;
    text-align: center;
    column-count: 2;
    column-gap: 3em


}
/*navigation*/
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    border: 2px 3px #ffaa80;
}
li { 
    display: flex;
    padding: 5px;
}
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* Large */
.navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
  }
  
  /* Medium screens */
  @media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }